@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

i {
  color: white;
  margin-right: 3px;

}


#body_welcome {
  /* padding-left: 8%;
  padding-right: 8%;
  padding-top: 2%; */
  color: white;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
}

/*HEADER************************************************/
#header_welcome {
  text-align: left;
  padding: 0 0 1em 0;
}

.img-logo {
  width: 18%;
}

/*MAIN**************************************************/
.main_welcome h1 {
  font-size: 6rem;
  line-height: 0.9;
  font-weight: 800;
}

.main_welcome h1 span {
  font-weight: normal;
}

/*INSTRUCTION*********************/
.instructions {
  margin-top: 3rem;
}

.instructions h2 {
  color: #c2128d;
  font-weight: 900;
  margin-bottom: 7px;
  font-weight: 600;
  font-size: 32px;
}

.instructions_paragrafo {
  width: 70%;
}

/*LISTA*********************/
.lista {
  margin-left: 2em;
  margin-top: 2em;
}

.lista li {
  line-height: 1.6;
}

.lista li span {
  font-weight: bold;
}

/*INPUT CHECK*********************/
.checkBox,
.divBottone {
  display: inline-block;
}

.checkBox {
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

.inpNomeCognome {
  margin-top: 60px;
  display: flex;
}

.inpNomeCognome div {
  flex: 0.3;
}

.inpNomeCognome input {
  height: 35px;
  padding-left: 6px;
  background-color: white;
  border: 1px solid black;
}


.inputButton {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

}

.button_box {
  margin-right: 8rem;
}

input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
  vertical-align: middle;
  /* Allinea verticalmente con il testo */
  margin-right: 10px;
}

/* Stile quando il checkbox è selezionato */
input[type="checkbox"]:checked {
  background-color: #cb2376;
  border-color: #cb2376;
}

/* Aggiunge il segno di spunta */
input[type="checkbox"]:checked::after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14px;
}

.checkBox label {
  font-weight: bold;
}

/*BUTTON*********************/
.bottone,
.bottoneResult:hover,
.bootton:hover,
.bootton {
  font-size: 1.2em;
  font-weight: bold;
  padding: 18px 45px;
  background-color: #00ffff;
  border: 2px solid transparent;
  box-shadow: 0px 0px 22px #00ffff;
  color: black;
}

.bootton {
  background-color: #00ffff;
  box-shadow: none;
}

.bottone:disabled,
.bottoneResult {
  font-weight: bold;
  font-size: 1.2em;
  padding: 18px 45px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  box-shadow: 0px 0px 22px #3f246f;
}

#cheater {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 30px;
}

video {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
}

/* //////////////////////////// QUESTION/////////////////////////////////////// */

#body_questions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.non-selezionabile {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-main {
  width: 80%;
}

.header-box {
  width: 100%;
  height: 20%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.logo-box {
  width: 18%;
}

.header-box .logo-box img {
  width: 100%;
}

.box-question {
  width: 100%;
  text-align: center;
  height: 50vh;
  margin-top: 90px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.title-box-question {
  color: white;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 35px;
}

.title-box-question p span {
  font-weight: bold;
}

.body-box-row {
  display: flex;
  justify-content: center;
  gap: 0 35px;
  flex-wrap: wrap;
}

/* .button-answer {
  padding: 20px;
  background-color: #24294f;
  color: white;
  margin-top: 30px;
  cursor: pointer;
  width: 43%;
  border-radius: 30px;
  transition: background 0.3s ease;
  box-shadow: -1px -1px 10px white;
  border: 2px solid transparent;
} */
.button-answer {
  width: 30%;
  margin: 20px;
  border-radius: 3em;
  border: 3px solid hsla(0, 1%, 100%, 0.8);
  box-shadow: #fff;
  border-bottom: rgb(255, 255, 255);
}

button {
  padding: 20px;
  cursor: pointer;
  margin-top: 30px;
  width: 250px;
  font-family: "Outfit", sans-serif;
  color: #ffffff;
  background-color: hsla(290, 71%, 77%, 0.24);
  border: 3px solid hsla(290, 71%, 77%, 0.171);
  /*  border-radius: 10px; */
}

.button-answer:hover {
  background: linear-gradient(176deg,
      rgba(210, 0, 148, 1) 31%,
      rgba(144, 0, 128, 1) 70%);
}

.body-box-footer {
  text-align: center;
  padding: 40px;
}

.questions {
  color: white;
  letter-spacing: 3px;
  font-weight: 400;
}

.questions span {
  color: #b51289;
}

.grapich-timer {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
}

#timerElement {
  color: white;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-timer {
  font-size: 12px;
  text-align: center;
}

.text-timer span {
  font-size: 8px;
  font-weight: 300;
}

#seconds {
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 1;
}

.progress-ring {
  position: relative;
  bottom: 20px;
  width: 160px;
  height: 160px;
}

#time {
  color: white;
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.1s linear;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-dasharray: 440;
  stroke-dashoffset: 0;
  /* Inizia pieno */
}

.progress-time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

#footer_question {
  padding-bottom: 20px;
}

/* ////////////////////////////////////////////////// RESULT/////////////////////////////////////////////// */
#body_result {
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
}

#header_welcome {
  text-align: left;
  padding: 0 0 1em 0;
  margin-bottom: 55px;
}

.img-logo {
  width: 18%;
}

#header_Result {
  width: 100%;
  padding: 20px;
  position: relative;
  text-align: center;
}

.titleResult {
  text-align: center;
  margin-bottom: 45px;
}

.titleResult h1 {
  font-size: 54px;
  margin: 0px;
}

.titleResult h3 {
  margin: 0px;
  font-weight: 300;
  font-size: 28px;
}

.logo {
  text-align: left;
  /* Mantieni il logo a sinistra */
  display: inline-block;
  /* Rendi il logo un elemento inline-block */
  vertical-align: middle;
  /* Allinea verticalmente */
}

.title-chart {
  font-size: 23px;
}

.blue {
  color: #00ffff;
  font-weight: bold;
  font-size: 1.5rem;
}

.description-result {
  font-weight: 200;
  font-size: 16px;
  text-align: center;
}

.title {
  margin: 10px auto;
  display: block;
  text-align: center;
}

.main_result {
  display: flex;
  justify-content: center;
  align-items: center;
}

#correctDiv,
#wrongDiv {
  flex: 0.5;
  text-align: center;
}

.chartDiv {
  flex: 1;
}

.correct-content h2,
.wrong-content h2 {
  font-size: 50px;
  font-weight: 400;
  margin: 0px;
}

.correct-content {
  text-align: left;
}

.wrong-content {
  color: white;
  text-align: right;
}

.percent {
  font-size: 50px;
  line-height: 0.7;
  text-align: left;
}

.result-questions {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0px;
  line-height: 2;
}

.chart-box {
  width: 400px;
  max-height: 400px;
  margin: 0 auto;
  position: relative;
}

.ombra {
  border: 3px solid red;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 1px -1px 14px 16px #00000069;
}

#my-chart {
  width: 100%;
  max-height: 100%;
  border-radius: 50%;
  box-shadow: 20px 7px 77px 0px rgb(0 0 0 / 61%);
}

#inner-chart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  text-align: center;
  flex-direction: column;
  padding-top: 65px;
  width: 282px;
  height: 281px;
  border-radius: 50%;

  box-shadow: inset 0px 0px 20px 0px rgb(0 0 0 / 61%);
}

/* footer {
  clear: both;
  padding: 20px;
} */
.button {
  color: white;
  background-color: transparent;
  border: 2px solid white;
}

.divBottoneResult {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.button:hover {
  font-size: 1.2em;
  font-weight: bold;
  padding: 18px 45px;
  background-color: #00ffff;
  border: none;
  box-shadow: 0px 0px 22px #00ffff;
}

#divRequest {
  line-height: 2;
  font-size: 1.2rem;
  margin-top: 70px;
}

.indexRequest {
  color: white;
}

/* .correctAnswer {
  color: green;
} */



#green-check {
  margin-left: 10px;
}

#red-check {
  color: red;
  margin-left: 10px;
}

#square-check {
  margin-right: 6px;
}

.questionContainer {
  padding: 10px;
}

.hrQuestion {
  width: 100%;
  background-color: white;
  margin: 15px 0px 15px 0px;
}

.download-certificate {
  text-decoration: none;
  cursor: pointer;
  color: #00ffff;
  margin-top: 15px;
}

/* ////////////////////////////////////// FEEDBACK///////////////////////////////////////////////////////////// */

#body_feedback {
  display: flex;
  justify-content: center;
}

.epicode_logo {
  margin-bottom: 130px;
}

.container80 {
  width: 80%;
  margin-top: 40px;
}

.body-container {
  text-align: center;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.epicode_logo img {
  cursor: pointer;
}

.logo {
  width: 18%;
}

#h1-titolo,
.titolih2 {
  color: white;
}

.titolih2 {
  font-weight: 200;
}

.title {
  font-size: 2em;
  margin-bottom: 30px;
}

.subtitle {
  margin-bottom: 40px;
}

.star-container {
  margin-bottom: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.feedbackStars {
  width: 100%;
}

.button:hover {
  box-shadow: 0px -1px 14px 1px #00ffff;
}

hr {
  height: 2px;
  background-color: rgb(255, 0, 200);
  border: none;
  width: 70%;
  margin: auto;
}

.disable-star {
  flex: 1;
  padding: 10px;
  filter: opacity(0.2);

  &.enabled {
    filter: drop-shadow(0px 0px 4px #00ffff);
  }
}

.h2-feedback {
  margin-bottom: 5rem;
}

.textarea {
  margin-bottom: 40px;
}

#commentHere {
  width: 75%;
  height: 35px;
  background-color: transparent;
  border: 0;
  font-size: 20px;
  border-bottom: 2px solid magenta;
  color: white;
  padding-left: 18px;
}

input:focus {
  outline: none;
}


/* -------------- Certificato ---------------- */

#bodyCertificato {
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  color: white;
  height: 100vh;
}

#headerCertificato {
  margin-top: 100px;
}

.header-box-certificato {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

#mainCertificato {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 60px;
}

.module-certifcation h2 {
  font-size: 30px;
  font-weight: 500;
}

.module-name h2 {
  font-size: 30px;
  font-weight: 200;
}

.module-name span {
  font-weight: 500;
}

.certificate-body {
  margin-top: 50px;
  display: flex;
  gap: 10px;

}

.certificate-body h1 {
  font-weight: 400;
  font-size: 60px;
  margin-block-start: 0;
}

.white-line {
  border: 2px solid white;
  width: 8%;
  margin-left: 1px;
}

.topic h2 {
  color: #40DAE9;
  font-weight: 200;
}

#footerCertificato {
  margin-top: 55px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

#currentDate {
  margin-bottom: 5px;
}

.release-date {
  color: #40DAE9;
  font-weight: 200;
}

.logo-certificato {
  width: 200px;
}

.logo-certificato img {
  width: 100%;
}